[sprite] { width: 66px; height: 66px; background-image: url(icons.webp); }
[sprite="wooden-chest"] { background-position: -0px -0px; }
[sprite="iron-chest"] { background-position: -66px -0px; }
[sprite="steel-chest"] { background-position: -132px -0px; }
[sprite="storage-tank"] { background-position: -198px -0px; }
[sprite="transport-belt"] { background-position: -264px -0px; }
[sprite="fast-transport-belt"] { background-position: -330px -0px; }
[sprite="express-transport-belt"] { background-position: -396px -0px; }
[sprite="turbo-transport-belt"] { background-position: -462px -0px; }
[sprite="underground-belt"] { background-position: -528px -0px; }
[sprite="fast-underground-belt"] { background-position: -594px -0px; }
[sprite="express-underground-belt"] { background-position: -660px -0px; }
[sprite="turbo-underground-belt"] { background-position: -726px -0px; }
[sprite="splitter"] { background-position: -792px -0px; }
[sprite="fast-splitter"] { background-position: -858px -0px; }
[sprite="express-splitter"] { background-position: -924px -0px; }
[sprite="turbo-splitter"] { background-position: -990px -0px; }
[sprite="burner-inserter"] { background-position: -1056px -0px; }
[sprite="inserter"] { background-position: -1122px -0px; }
[sprite="long-handed-inserter"] { background-position: -0px -66px; }
[sprite="fast-inserter"] { background-position: -66px -66px; }
[sprite="bulk-inserter"] { background-position: -132px -66px; }
[sprite="stack-inserter"] { background-position: -198px -66px; }
[sprite="small-electric-pole"] { background-position: -264px -66px; }
[sprite="medium-electric-pole"] { background-position: -330px -66px; }
[sprite="big-electric-pole"] { background-position: -396px -66px; }
[sprite="substation"] { background-position: -462px -66px; }
[sprite="pipe"] { background-position: -528px -66px; }
[sprite="pipe-to-ground"] { background-position: -594px -66px; }
[sprite="pump"] { background-position: -660px -66px; }
[sprite="rail"] { background-position: -726px -66px; }
[sprite="rail-ramp"] { background-position: -792px -66px; }
[sprite="rail-support"] { background-position: -858px -66px; }
[sprite="train-stop"] { background-position: -924px -66px; }
[sprite="rail-signal"] { background-position: -990px -66px; }
[sprite="rail-chain-signal"] { background-position: -1056px -66px; }
[sprite="locomotive"] { background-position: -1122px -66px; }
[sprite="cargo-wagon"] { background-position: -0px -132px; }
[sprite="fluid-wagon"] { background-position: -66px -132px; }
[sprite="artillery-wagon"] { background-position: -132px -132px; }
[sprite="car"] { background-position: -198px -132px; }
[sprite="tank"] { background-position: -264px -132px; }
[sprite="spidertron"] { background-position: -330px -132px; }
[sprite="logistic-robot"] { background-position: -396px -132px; }
[sprite="construction-robot"] { background-position: -462px -132px; }
[sprite="active-provider-chest"] { background-position: -528px -132px; }
[sprite="passive-provider-chest"] { background-position: -594px -132px; }
[sprite="storage-chest"] { background-position: -660px -132px; }
[sprite="buffer-chest"] { background-position: -726px -132px; }
[sprite="requester-chest"] { background-position: -792px -132px; }
[sprite="roboport"] { background-position: -858px -132px; }
[sprite="small-lamp"] { background-position: -924px -132px; }
[sprite="arithmetic-combinator"] { background-position: -990px -132px; }
[sprite="decider-combinator"] { background-position: -1056px -132px; }
[sprite="selector-combinator"] { background-position: -1122px -132px; }
[sprite="constant-combinator"] { background-position: -0px -198px; }
[sprite="power-switch"] { background-position: -66px -198px; }
[sprite="programmable-speaker"] { background-position: -132px -198px; }
[sprite="display-panel"] { background-position: -198px -198px; }
[sprite="concrete"] { background-position: -264px -198px; }
[sprite="hazard-concrete"] { background-position: -330px -198px; }
[sprite="refined-concrete"] { background-position: -396px -198px; }
[sprite="refined-hazard-concrete"] { background-position: -462px -198px; }
[sprite="landfill"] { background-position: -528px -198px; }
[sprite="artificial-yumako-soil"] { background-position: -594px -198px; }
[sprite="overgrowth-yumako-soil"] { background-position: -660px -198px; }
[sprite="artificial-jellynut-soil"] { background-position: -726px -198px; }
[sprite="overgrowth-jellynut-soil"] { background-position: -792px -198px; }
[sprite="ice-platform"] { background-position: -858px -198px; }
[sprite="foundation"] { background-position: -924px -198px; }
[sprite="cliff-explosives"] { background-position: -990px -198px; }
[sprite="repair-pack"] { background-position: -1056px -198px; }
[sprite="boiler"] { background-position: -1122px -198px; }
[sprite="steam-engine"] { background-position: -0px -264px; }
[sprite="solar-panel"] { background-position: -66px -264px; }
[sprite="accumulator"] { background-position: -132px -264px; }
[sprite="nuclear-reactor"] { background-position: -198px -264px; }
[sprite="heat-pipe"] { background-position: -264px -264px; }
[sprite="heat-exchanger"] { background-position: -330px -264px; }
[sprite="steam-turbine"] { background-position: -396px -264px; }
[sprite="fusion-reactor"] { background-position: -462px -264px; }
[sprite="fusion-generator"] { background-position: -528px -264px; }
[sprite="burner-mining-drill"] { background-position: -594px -264px; }
[sprite="electric-mining-drill"] { background-position: -660px -264px; }
[sprite="big-mining-drill"] { background-position: -726px -264px; }
[sprite="offshore-pump"] { background-position: -792px -264px; }
[sprite="pumpjack"] { background-position: -858px -264px; }
[sprite="stone-furnace"] { background-position: -924px -264px; }
[sprite="steel-furnace"] { background-position: -990px -264px; }
[sprite="electric-furnace"] { background-position: -1056px -264px; }
[sprite="foundry"] { background-position: -1122px -264px; }
[sprite="recycler"] { background-position: -0px -330px; }
[sprite="agricultural-tower"] { background-position: -66px -330px; }
[sprite="biochamber"] { background-position: -132px -330px; }
[sprite="captive-biter-spawner"] { background-position: -198px -330px; }
[sprite="assembling-machine-1"] { background-position: -264px -330px; }
[sprite="assembling-machine-2"] { background-position: -330px -330px; }
[sprite="assembling-machine-3"] { background-position: -396px -330px; }
[sprite="oil-refinery"] { background-position: -462px -330px; }
[sprite="chemical-plant"] { background-position: -528px -330px; }
[sprite="centrifuge"] { background-position: -594px -330px; }
[sprite="electromagnetic-plant"] { background-position: -660px -330px; }
[sprite="cryogenic-plant"] { background-position: -726px -330px; }
[sprite="lab"] { background-position: -792px -330px; }
[sprite="biolab"] { background-position: -858px -330px; }
[sprite="lightning-rod"] { background-position: -924px -330px; }
[sprite="lightning-collector"] { background-position: -990px -330px; }
[sprite="heating-tower"] { background-position: -1056px -330px; }
[sprite="beacon"] { background-position: -1122px -330px; }
[sprite="speed-module"] { background-position: -0px -396px; }
[sprite="speed-module-2"] { background-position: -66px -396px; }
[sprite="speed-module-3"] { background-position: -132px -396px; }
[sprite="efficiency-module"] { background-position: -198px -396px; }
[sprite="efficiency-module-2"] { background-position: -264px -396px; }
[sprite="efficiency-module-3"] { background-position: -330px -396px; }
[sprite="productivity-module"] { background-position: -396px -396px; }
[sprite="productivity-module-2"] { background-position: -462px -396px; }
[sprite="productivity-module-3"] { background-position: -528px -396px; }
[sprite="quality-module"] { background-position: -594px -396px; }
[sprite="quality-module-2"] { background-position: -660px -396px; }
[sprite="quality-module-3"] { background-position: -726px -396px; }
[sprite="plastic-bar"] { background-position: -792px -396px; }
[sprite="sulfur"] { background-position: -858px -396px; }
[sprite="battery"] { background-position: -924px -396px; }
[sprite="explosives"] { background-position: -990px -396px; }
[sprite="carbon"] { background-position: -1056px -396px; }
[sprite="water-barrel"] { background-position: -1122px -396px; }
[sprite="crude-oil-barrel"] { background-position: -0px -462px; }
[sprite="petroleum-gas-barrel"] { background-position: -66px -462px; }
[sprite="light-oil-barrel"] { background-position: -132px -462px; }
[sprite="heavy-oil-barrel"] { background-position: -198px -462px; }
[sprite="lubricant-barrel"] { background-position: -264px -462px; }
[sprite="sulfuric-acid-barrel"] { background-position: -330px -462px; }
[sprite="fluoroketone-hot-barrel"] { background-position: -396px -462px; }
[sprite="fluoroketone-cold-barrel"] { background-position: -462px -462px; }
[sprite="iron-gear-wheel"] { background-position: -528px -462px; }
[sprite="iron-stick"] { background-position: -594px -462px; }
[sprite="copper-cable"] { background-position: -660px -462px; }
[sprite="barrel"] { background-position: -726px -462px; }
[sprite="electronic-circuit"] { background-position: -792px -462px; }
[sprite="advanced-circuit"] { background-position: -858px -462px; }
[sprite="processing-unit"] { background-position: -924px -462px; }
[sprite="engine-unit"] { background-position: -990px -462px; }
[sprite="electric-engine-unit"] { background-position: -1056px -462px; }
[sprite="flying-robot-frame"] { background-position: -1122px -462px; }
[sprite="low-density-structure"] { background-position: -0px -528px; }
[sprite="rocket-fuel"] { background-position: -66px -528px; }
[sprite="uranium-fuel-cell"] { background-position: -132px -528px; }
[sprite="nuclear-fuel"] { background-position: -198px -528px; }
[sprite="tungsten-carbide"] { background-position: -264px -528px; }
[sprite="tungsten-plate"] { background-position: -330px -528px; }
[sprite="holmium-plate"] { background-position: -396px -528px; }
[sprite="superconductor"] { background-position: -462px -528px; }
[sprite="supercapacitor"] { background-position: -528px -528px; }
[sprite="iron-bacteria"] { background-position: -594px -528px; }
[sprite="copper-bacteria"] { background-position: -660px -528px; }
[sprite="bioflux"] { background-position: -726px -528px; }
[sprite="carbon-fiber"] { background-position: -792px -528px; }
[sprite="pentapod-egg"] { background-position: -858px -528px; }
[sprite="lithium"] { background-position: -924px -528px; }
[sprite="quantum-processor"] { background-position: -990px -528px; }
[sprite="fusion-power-cell"] { background-position: -1056px -528px; }
[sprite="automation-science-pack"] { background-position: -1122px -528px; }
[sprite="logistic-science-pack"] { background-position: -0px -594px; }
[sprite="military-science-pack"] { background-position: -66px -594px; }
[sprite="chemical-science-pack"] { background-position: -132px -594px; }
[sprite="production-science-pack"] { background-position: -198px -594px; }
[sprite="utility-science-pack"] { background-position: -264px -594px; }
[sprite="space-science-pack"] { background-position: -330px -594px; }
[sprite="metallurgic-science-pack"] { background-position: -396px -594px; }
[sprite="agricultural-science-pack"] { background-position: -462px -594px; }
[sprite="electromagnetic-science-pack"] { background-position: -528px -594px; }
[sprite="cryogenic-science-pack"] { background-position: -594px -594px; }
[sprite="promethium-science-pack"] { background-position: -660px -594px; }
[sprite="rocket-silo"] { background-position: -726px -594px; }
[sprite="cargo-landing-pad"] { background-position: -792px -594px; }
[sprite="space-platform-foundation"] { background-position: -858px -594px; }
[sprite="cargo-bay"] { background-position: -924px -594px; }
[sprite="asteroid-collector"] { background-position: -990px -594px; }
[sprite="crusher"] { background-position: -1056px -594px; }
[sprite="thruster"] { background-position: -1122px -594px; }
[sprite="space-platform-starter-pack"] { background-position: -0px -660px; }
[sprite="submachine-gun"] { background-position: -66px -660px; }
[sprite="railgun"] { background-position: -132px -660px; }
[sprite="teslagun"] { background-position: -198px -660px; }
[sprite="shotgun"] { background-position: -264px -660px; }
[sprite="combat-shotgun"] { background-position: -330px -660px; }
[sprite="rocket-launcher"] { background-position: -396px -660px; }
[sprite="flamethrower"] { background-position: -462px -660px; }
[sprite="firearm-magazine"] { background-position: -528px -660px; }
[sprite="piercing-rounds-magazine"] { background-position: -594px -660px; }
[sprite="uranium-rounds-magazine"] { background-position: -660px -660px; }
[sprite="shotgun-shell"] { background-position: -726px -660px; }
[sprite="piercing-shotgun-shell"] { background-position: -792px -660px; }
[sprite="cannon-shell"] { background-position: -858px -660px; }
[sprite="explosive-cannon-shell"] { background-position: -924px -660px; }
[sprite="uranium-cannon-shell"] { background-position: -990px -660px; }
[sprite="explosive-uranium-cannon-shell"] { background-position: -1056px -660px; }
[sprite="artillery-shell"] { background-position: -1122px -660px; }
[sprite="rocket"] { background-position: -0px -726px; }
[sprite="explosive-rocket"] { background-position: -66px -726px; }
[sprite="atomic-bomb"] { background-position: -132px -726px; }
[sprite="capture-robot-rocket"] { background-position: -198px -726px; }
[sprite="flamethrower-ammo"] { background-position: -264px -726px; }
[sprite="railgun-ammo"] { background-position: -330px -726px; }
[sprite="tesla-ammo"] { background-position: -396px -726px; }
[sprite="grenade"] { background-position: -462px -726px; }
[sprite="cluster-grenade"] { background-position: -528px -726px; }
[sprite="poison-capsule"] { background-position: -594px -726px; }
[sprite="slowdown-capsule"] { background-position: -660px -726px; }
[sprite="defender-capsule"] { background-position: -726px -726px; }
[sprite="distractor-capsule"] { background-position: -792px -726px; }
[sprite="destroyer-capsule"] { background-position: -858px -726px; }
[sprite="light-armor"] { background-position: -924px -726px; }
[sprite="heavy-armor"] { background-position: -990px -726px; }
[sprite="modular-armor"] { background-position: -1056px -726px; }
[sprite="power-armor"] { background-position: -1122px -726px; }
[sprite="power-armor-mk2"] { background-position: -0px -792px; }
[sprite="mech-armor"] { background-position: -66px -792px; }
[sprite="solar-panel-equipment"] { background-position: -132px -792px; }
[sprite="fission-reactor-equipment"] { background-position: -198px -792px; }
[sprite="fusion-reactor-equipment"] { background-position: -264px -792px; }
[sprite="battery-equipment"] { background-position: -330px -792px; }
[sprite="battery-mk2-equipment"] { background-position: -396px -792px; }
[sprite="battery-mk3-equipment"] { background-position: -462px -792px; }
[sprite="belt-immunity-equipment"] { background-position: -528px -792px; }
[sprite="exoskeleton-equipment"] { background-position: -594px -792px; }
[sprite="personal-roboport-equipment"] { background-position: -660px -792px; }
[sprite="personal-roboport-mk2-equipment"] { background-position: -726px -792px; }
[sprite="night-vision-equipment"] { background-position: -792px -792px; }
[sprite="toolbelt-equipment"] { background-position: -858px -792px; }
[sprite="energy-shield-equipment"] { background-position: -924px -792px; }
[sprite="energy-shield-mk2-equipment"] { background-position: -990px -792px; }
[sprite="personal-laser-defense-equipment"] { background-position: -1056px -792px; }
[sprite="discharge-defense-equipment"] { background-position: -1122px -792px; }
[sprite="stone-wall"] { background-position: -0px -858px; }
[sprite="gate"] { background-position: -66px -858px; }
[sprite="radar"] { background-position: -132px -858px; }
[sprite="land-mine"] { background-position: -198px -858px; }
[sprite="gun-turret"] { background-position: -264px -858px; }
[sprite="laser-turret"] { background-position: -330px -858px; }
[sprite="flamethrower-turret"] { background-position: -396px -858px; }
[sprite="artillery-turret"] { background-position: -462px -858px; }
[sprite="rocket-turret"] { background-position: -528px -858px; }
[sprite="tesla-turret"] { background-position: -594px -858px; }
[sprite="railgun-turret"] { background-position: -660px -858px; }
[sprite="lubricant"] { background-position: -726px -858px; }
[sprite="sulfuric-acid"] { background-position: -792px -858px; }
[sprite="thruster-fuel"] { background-position: -858px -858px; }
[sprite="thruster-oxidizer"] { background-position: -924px -858px; }
[sprite="molten-iron"] { background-position: -990px -858px; }
[sprite="molten-copper"] { background-position: -1056px -858px; }
[sprite="holmium-solution"] { background-position: -1122px -858px; }
[sprite="electrolyte"] { background-position: -0px -924px; }
[sprite="casting-pipe"] { background-position: -66px -924px; }
[sprite="casting-pipe-to-ground"] { background-position: -132px -924px; }
[sprite="heavy-oil-cracking"] { background-position: -198px -924px; }
[sprite="light-oil-cracking"] { background-position: -264px -924px; }
[sprite="solid-fuel-from-petroleum-gas"] { background-position: -330px -924px; }
[sprite="solid-fuel-from-light-oil"] { background-position: -396px -924px; }
[sprite="solid-fuel-from-heavy-oil"] { background-position: -462px -924px; }
[sprite="acid-neutralisation"] { background-position: -528px -924px; }
[sprite="steam-condensation"] { background-position: -594px -924px; }
[sprite="ice-melting"] { background-position: -660px -924px; }
[sprite="coal-synthesis"] { background-position: -726px -924px; }
[sprite="empty-water-barrel"] { background-position: -792px -924px; }
[sprite="empty-crude-oil-barrel"] { background-position: -858px -924px; }
[sprite="empty-petroleum-gas-barrel"] { background-position: -924px -924px; }
[sprite="empty-light-oil-barrel"] { background-position: -990px -924px; }
[sprite="empty-heavy-oil-barrel"] { background-position: -1056px -924px; }
[sprite="empty-lubricant-barrel"] { background-position: -1122px -924px; }
[sprite="empty-sulfuric-acid-barrel"] { background-position: -0px -990px; }
[sprite="empty-fluoroketone-hot-barrel"] { background-position: -66px -990px; }
[sprite="empty-fluoroketone-cold-barrel"] { background-position: -132px -990px; }
[sprite="uranium-processing"] { background-position: -198px -990px; }
[sprite="nuclear-fuel-reprocessing"] { background-position: -264px -990px; }
[sprite="kovarex-enrichment-process"] { background-position: -330px -990px; }
[sprite="molten-iron-from-lava"] { background-position: -396px -990px; }
[sprite="molten-copper-from-lava"] { background-position: -462px -990px; }
[sprite="casting-iron"] { background-position: -528px -990px; }
[sprite="casting-copper"] { background-position: -594px -990px; }
[sprite="casting-steel"] { background-position: -660px -990px; }
[sprite="casting-iron-gear-wheel"] { background-position: -726px -990px; }
[sprite="casting-iron-stick"] { background-position: -792px -990px; }
[sprite="casting-low-density-structure"] { background-position: -858px -990px; }
[sprite="concrete-from-molten-iron"] { background-position: -924px -990px; }
[sprite="casting-copper-cable"] { background-position: -990px -990px; }
[sprite="yumako-processing"] { background-position: -1056px -990px; }
[sprite="jellynut-processing"] { background-position: -1122px -990px; }
[sprite="iron-bacteria-cultivation"] { background-position: -0px -1056px; }
[sprite="copper-bacteria-cultivation"] { background-position: -66px -1056px; }
[sprite="nutrients-from-spoilage"] { background-position: -132px -1056px; }
[sprite="nutrients-from-yumako-mash"] { background-position: -198px -1056px; }
[sprite="nutrients-from-bioflux"] { background-position: -264px -1056px; }
[sprite="rocket-fuel-from-jelly"] { background-position: -330px -1056px; }
[sprite="biolubricant"] { background-position: -396px -1056px; }
[sprite="bioplastic"] { background-position: -462px -1056px; }
[sprite="biosulfur"] { background-position: -528px -1056px; }
[sprite="burnt-spoilage"] { background-position: -594px -1056px; }
[sprite="wood-processing"] { background-position: -660px -1056px; }
[sprite="fish-breeding"] { background-position: -726px -1056px; }
[sprite="nutrients-from-fish"] { background-position: -792px -1056px; }
[sprite="nutrients-from-biter-egg"] { background-position: -858px -1056px; }
[sprite="ammoniacal-solution-separation"] { background-position: -924px -1056px; }
[sprite="solid-fuel-from-ammonia"] { background-position: -990px -1056px; }
[sprite="ammonia-rocket-fuel"] { background-position: -1056px -1056px; }
[sprite="fluoroketone-cooling"] { background-position: -1122px -1056px; }
[sprite="metallic-asteroid-crushing"] { background-position: -0px -1122px; }
[sprite="carbonic-asteroid-crushing"] { background-position: -66px -1122px; }
[sprite="oxide-asteroid-crushing"] { background-position: -132px -1122px; }
[sprite="metallic-asteroid-reprocessing"] { background-position: -198px -1122px; }
[sprite="carbonic-asteroid-reprocessing"] { background-position: -264px -1122px; }
[sprite="oxide-asteroid-reprocessing"] { background-position: -330px -1122px; }
[sprite="advanced-metallic-asteroid-crushing"] { background-position: -396px -1122px; }
[sprite="advanced-carbonic-asteroid-crushing"] { background-position: -462px -1122px; }
[sprite="advanced-oxide-asteroid-crushing"] { background-position: -528px -1122px; }
[sprite="advanced-thruster-fuel"] { background-position: -594px -1122px; }
[sprite="advanced-thruster-oxidizer"] { background-position: -660px -1122px; }